* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.navigation {
    background-color: #BFB99B;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.brand-name {
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0 24px; 
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links a:hover {
    background-color: #778C49; 
}

.footer {
    background-color: #BDBF6F;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.footer .brand {
    font-size: medium;
    font-weight: bold;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
